<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout::head"></head>
<body>
    <header th:replace="layout::header"></header>

    <div class="container">
        <div class="card">
            <div class="card-header" th:text="${title}"></div>
            <div class="card-body">
                <table class="table table-bordered table-striped">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Brand</th>
                            <th>Model</th>
                            <th>Gas</th>
                            <th>Km</th>
                            <th>Power (CV)</th>
                            <th>Price (€)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td th:text="${car.brand}"></td>
                            <td th:text="${car.model}"></td>
                            <td th:text="${car.gas}"></td>
                            <td th:text="${car.km}"></td>
                            <td th:text="${car.power}"></td>
                            <td th:text="${car.price}"></td>
                        </tr>
                    </tbody>
                </table>
                <span><a th:href="@{/used-cars}" th:text="'&laquoBack'" class="btn btn-danger btn-xs"></a></span>
            </div>
        </div>
    </div>

    <footer th:replace="layout::footer"></footer>
</body>
</html>