<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <!-- Importamos bootstrap -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}">
</head>
<body>
    <header th:frament="header">
        <nav class="navbar navbar-expand-lf navbar-light bg-light">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="navlink" href="http://localhost:8080">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="navlink" href="http://localhost:8080/cars">New cars</a>
                    </li>
                    <li class="nav-item">
                        <a class="navlink" href="http://localhost:9090/used-cars">Used cars</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <footer th:fragment="footer">
        <!-- jQuery y Popper.js -->
        <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
        <script th:src="@{/js/popper.min.js}"></script>

        <!-- Script de bootstrap -->
        <script th:src="@{/js/bootstrap.min.js}"></script>

        <!-- jQuery UI -->
        <script th:src="@{/js/jquery-ui.min.js}"></script>
    </footer>
</body>
</html>