<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout::head"></head>
<body>
    <header th:replace="layout::header"></header>
    <div class="container py-4">
        <div class="card bg-light">
            <div class="card-header"><strong th:text="${title}"></strong></div>
            <div class="card-body">
                <table class="table table-bordered table-striped">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Brand</th>
                            <th>Model</th>
                            <th>Gas</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="car:${cars}">
                            <td th:text="${car.brand}"></td>
                            <td th:text="${car.model}"></td>
                            <td th:text="${car.gas}"></td>
                            <td><a th:href="@{/cars/} + ${car.id}" class="btn btn-primary btn-xs">Details</a></td>
                        </tr>
                    </tbody>
                </table>
                <span><a th:href="@{/cars}" class="btn btn-danger btn-xs" th:text="'&laquoBack'"></a></span>
            </div>
        </div>
    </div>

    <footer th:replace="layout::footer"></footer>
</body>
</html>