<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout::head"></head>
<body>
    <header th:replace="layout::header"></header>
    <div class="container py-4">
        <div class="card bg-light">
            <div class="card-header" th:text="${title}"></div>
                <div class="card-body">
                    <span><a th:href="@{/cars}" class="column btn btn-primary">New cars</a></span>
                    <span><a href="http://localhost:9090/used-cars" class="column btn btn-primary">Used cars</a></span>
                </div>
        </div>
    </div>
    <footer th:replace="layout::footer"></footer>
</body>
</html>